@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Work+Sans:wght@400;500;700&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");
:root {
  font-family: var(--font1) !important;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* GLOBAL STYLES */

  /* Mainnet COLORS */

  --swarm-red: #f63333;
  --swarm-light-red: #ff5d5d;
  --swarm-grey-01: #414141;
  --swarm-grey-02: #333333;
  --swarm-charcoal-01: #3b3b3b;
  --swarm-charcoal-02: #2e2e2e;
  --swarm-cement-dark-02: #c1c1c1;
  --swarm-cement-dark-01: #e3e3e3;
  --swarm-cement: #f0f0f0;
  --swarm-orange: #dd7200;
  --swarm-orange-highlight: #f4944d;
  --swarm-black: #232223;
  --swarm-almost-black: #242424;
  --pure-white: white;
  --pure-black: black;
  --swarm-almost-white: #fafafa;

  /* Navbar Glow */
  --mainnet-navbar-glow: none;
  --goerli-navbar-glow: 0px 0px 8rem #3f8ea6;

  /* MainModal Glow */

  /* udfgirsu */
  --mainnet-glow-shadow: 0px 0px 20rem 15rem #dd72000e;
  --goerli-glow-shadow: 0px 0px 20rem 15rem #3f8ea638;

  /* Goerli COLORS */

  --goerli-black: #282828;
  --goerli-black2: #242424;
  --goerli-green1: #33ff00;
  --goerli-green2: #33ff33;
  --goerli-green3: #00ff33;
  --goerli-green4: #66ff66;
  --goerli-green5: #00ff66;
  --goerli-orange1: #ffb000;
  --goerli-orange2: #ffcc00;
  --goerli-red: #ff5d5d;
  --goerli-grey: #919c9f;

  --glow-goerli: ;
  --glow-rinkeby: ;
  --glow-mainnet: ;
  --glow-ropsten: ;

  /* FONTS */
  --font1: "Work Sans", sans-serif;
  --font2: "IBM Plex Mono", monospace;
  --goerli-font: "Source Code Pro", monospace;

  /* BOX SHADOWS */

  --boxShadow-topContainer: 0px 4rem 4rem 0px rgba(0, 0, 0, 0.281);
  --boxShadow-addressBar: 0px 0px 2rem 0px rgba(0, 0, 0, 0.35);
  --boxShadow1: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
  --boxShadow2: 0px 0px 60px 0px rgba(0, 0, 0, 0.35);
  --receiveShadow: -40px 0px 40px rgba(0, 0, 0, 0.33);
  --sendShadow: 40px 0px 40px 0px rgba(0, 0, 0, 0.33);
  --slippageChipShadow: 0px 0px 1.4rem 0px rgba(0, 0, 0, 0.33);
  --tokenChipShadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.33);

  --transition1: all 200ms ease-out;

  --tabletBreakpoint: 1000px;
  --smallLaptopBreakpoint: 1441px;
  --largeScreenBreakpoint: 1919px;
}
#root {
  background-color: var(--swarm-cement);
}
main {
  background-color: transparent;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
button {
  border: none;
  cursor: pointer;
}
button:active {
  outline: none;
}
button:focus {
  outline: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

@keyframes pulsingGlow {
  0% {
    border-color: "inherit";
    box-shadow: 0 0 0 var(--swarm-orange-highlight) inset;
  }
  50% {
    border-color: var(--swarm-orange-highlight);
    box-shadow: 0 0 2rem var(--swarm-orange-highlight) inset;
  }
  100% {
    border-color: "inherit";
    box-shadow: 0 0 0 var(--swarm-orange-highlight) inset;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
