.Footer {
  font-family: var(--font1) !important;
}
.Footer-text-container {
  color: var(--swarm-charcoal-01) !important;
}

.Footer-link {
  color: var(--swarm-charcoal-01) !important;
  text-decoration: none !important;
}

.Footer-link:hover {
  color: var(--swarm-orange) !important;
  text-decoration: none !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 80px; */ /* Set the fixed height of the footer here */
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
  padding-left: 1rem;
}

.Footer-build {
  display: block;
}
