.Header {
  background-color: var(--swarm-almost-black);
  font-family: var(--font2);
}

.Header-link-title {
  color: var(--swarm-almost-white);
  font-size: 1.5rem;
  margin: auto 1rem !important;
  text-decoration: none;
}
.Header-link-title:hover {
  color: var(--swarm-almost-white) !important;
}

.Header-burger-icon .navbar-toggler-icon {
  color: var(--swarm-almost-white) !important;
}

.Header-link {
  color: var(--swarm-orange) !important;
  margin: auto 1rem;
}
.Header-link:hover {
  color: var(--swarm-almost-white) !important;
}
.dropdown-menu {
  top: 40px !important;
  right: 5px !important;
}
.dropdown-item:hover {
  background-color: transparent !important;
}
#user-dropdown {
  color: var(--swarm-orange) !important;
}

#user-dropdown:hover {
  color: var(--swarm-almost-white) !important;
}
