html {
  position: relative;
  min-height: 100%;
  background-color: var(--swarm-cement);
}

body {
  /*  margin-bottom: 60px; Margin bottom by footer height */
}

.App-loading {
  margin-top: 20px;
}

.container {
  margin-top: 30px;
}

details p {
  margin-bottom: 0.1rem;
}

.container {
  margin-bottom: 0;
}

.container {
  padding-bottom: 10rem;
}
